---
global:
  prefix: "!"
  onLogin: EPSI-WIS bot has been connected to the discord !
  version: "0.12.3"

commands:
  admin:
    help:
      description: |
        __**[ADMIN] Voici les commands admins**__

        **!print [school, epsi, wis]** - Affiche les différents embeds
        **!delete [*number < 100*]** - Permet de supprimer *number* dernier messages

        Vous pouvez écrire les updates du discord dans le channel <#%channel%> sans commande automatiquement elles seront transformé en embeds

    print:
      school:
        channel: bienvenue
        title: Choisis ton école
        description: |
          <:one:897250640135348254> EPSI
          <:two:897252007025459210> WIS
      epsi:
        channel: roles-epsi
        title: Choisis ta classe
        description: |
          <:one:897250640135348254> Bachelor 1
          <:two:897252007025459210> Bachelor 2
          <:three:897252093658816554> Bachelor 3
          <:four:897252278006853655> Ingénieur 1
          <:five:897252314518269993> Ingénieur 2
      wis:
        channel: roles-wis
        title: Choisis ta classe
        description: |
          <:one:897250640135348254> Bachelor 1
          <:two:897252007025459210> Bachelor 2
          <:three:897252093658816554> Bachelor 3
          <:four:897252278006853655> Ingénieur 1
          <:five:897252314518269993> Ingénieur 2

    update:
      channel: discord-updates
      title: __**Update EPSI-bot v%version%**__

  help:
    description: |
      __**Voici quelques command qui pourrait t'être utile**__

      **!help** - Afficher la liste des commandes
      **!about** - Qui est derrière tout ça <:thinking:897518530159841301> // todo
      **!user rename [*prenom.nom*]** - Changer de pseudo sur le discord
      **!poll [*question*] (shift+entrer) [*description* (optionnel)]** - Faire des polls
      **!memberCount** - Afficher le nombre de personnes sur le discord
      **!site** - Afficher le lien du site internet

  about:
    title: |
      Mais qui à fait ça ? :man_shrugging:
    description: |
      Salut c'est moi Baptiste ancien étudiant de l'EPSI,
      j'ai recoder le bot de l'EPSI de 0 avec *Aymerick MICHELET*
      Si jamais tu as d'autres idées pour le bot hésite pas à les mettres dans le channel #idea
      Ou directement me faire une PR sur le github [epsi-bot](https://github.com/baptistemrt/epsi-bot)

  delete:
    errors:
      bigNumber: Le nombre que vous avez saisi est trop grand choisissez-en un inférieur à 100 !
      notPermitted: Vous ne pouvez pas utiliser cette commande !

  user:
    change:
      description: |
        Votre pseudo à bien été changé <@%mention%>
    error:
      description: |
         %mention% je ne peux pas changer ton pseudo, utilise la commande:
          \`\`!user rename [prenom.nom]\`\`

  poll:
    footer: Sondage lancé par %mention%
      
  memberCount:
    channel: bot
    title: Il y a %memberCount% personnes sur le serveur !
    error: Utilise plutôt la commande ici <@%mention%>

  site:
    title: __**toutes les informations sur l'EPSI/WIS sont disponible ici**__
    description: "[EPSI/WIS](https://epsiwis.fr/)"

embeds:
  footer: Made with ♥ by bapmarty • %version%

roles:
  owner: Owner
  newStudent: New student
  student: Student
  epsi: EPSI
  wis: WIS
  epsib1: EPSI-B1
  epsib2: EPSI-B2
  epsib3: EPSI-B3
  epsii1: EPSI-I1
  epsii2: EPSI-I2
  wisb1: WIS-B1
  wisb2: WIS-B2
  wisb3: WIS-B3
  wisi1: WIS-I1
  wisi2: WIS-I2
